<%- include('../includes/start.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main style="text-align: center">
        <h1><%= prods.title %></h1>
        <hr>
        <div style="width: 20rem; margin: 0 auto;">
            <img style="width: 100%" src="<%= prods.image %>" alt="">
        </div>
        <h2><%= prods.price %></h2>
        <p><%= prods.description %></p>
        <button>Add to Cart</button>
    </main>
<%- include('../includes/end.ejs') %>

